* {
  margin: 0;
  padding: 0;
}
/*#header {
	margin: auto;
	padding: auto;
	padding-left: 300px;
	padding-right: 320px;
}
*/
body{
	font-family: arial;
	font-size: 14px;
}

.wraper{
	
	padding-left: 50px;
	padding-right: 100px;
	
}

#radio {
		border:1px solid #CCC;
		padding-left: 20px;
		background-color: #CCC;
}